html, body {
	height: 100%;
}

.container-fluid {
	width: 100%;
}

.row {
	margin: 0;
}

.view, .first-view {
	height: 100vh;
	position: relative;
}

.view {
	padding-top: 15px;
}

.first-view, .done {
	background: linear-gradient(324deg, #530060, #e10a89);
	background-size: 600% 600%;
	animation: AnimationName 6s ease infinite;
}

@keyframes AnimationName {
	0%{background-position:13% 0%}
	50%{background-position:88% 100%}
	100%{background-position:13% 0%}
}
.col.s10.offset-s1 {
	padding: 0;
}

/* segunda vista */
.second-view {
	background-image: url(../images/background-lyft.jpg);
	background-size: cover;
	background-position: center;
}

.second-view p {
	color: white;
	font-size: 24px;
	font-family: "Signika", sans-serif;
	font-weight: 600;
	margin: 100px 0;
	padding: 10px 0;
	border: 3px dotted white;
}

.second-view .buttons {
	position: absolute;
	bottom: 20px;
	padding: 0 8.3333%;
}

.second-view .buttons div.col.s12 {
	padding: 0;
}

.buttons button {
	color: #E10A89;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 0;
	text-transform: uppercase;
	background-color: white;
	border: 2px solid white;
	width: 100%;
	box-shadow: -1px 4px 18px #530060;
	height: 100%;
	margin-bottom: 10px;
}

.buttons button:hover, .buttons button:active, .buttons button:focus {
	color: white;
	background:transparent;
	box-shadow: -1px 4px 24px #530060;
}

.prev {
	position: absolute;
	top: 10px;
	left: 10px;
}